<phpunit
        bootstrap="bootstrap.php">
    <php>
        <var name="testing.selenium.seleniumServerUrl" value="http://localhost:4444/wd/hub"/>
        <var name="testing.selenium.browser" value="firefox"/>
    </php>
    <testsuites>
        <testsuite name="Integrationstests">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">.</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="HtmlResultPrinter" file="../lib/Menta/PHPUnit/Listener/HtmlResultPrinter.php">
            <arguments>
                <string>reports/index.html</string>
                <!-- target file -->
            </arguments>
        </listener>
    </listeners>
</phpunit>