<phpunit
        printerClass="\Menta\PHPUnit\Listener\VerboseResultPrinter"
        printerFile="../PHPUnit/Listener/VerboseResultPrinter.php">
    <php>
        <var name="testing.selenium.seleniumServerUrl" value="http://localhost:4444/wd/hub"/>
        <var name="testing.selenium.browser" value="firefox"/>
    </php>
    <listeners>
        <listener class="HtmlResultPrinter" file="../PHPUnit/Listener/HtmlResultPrinter.php">
            <arguments>
                <string>reports/index.html</string>
                <!-- target file -->
            </arguments>
        </listener>
    </listeners>
</phpunit>